/* Home 4 */
.dark .hero_financial_transaction .hero_contents .section_title h1 {
    color: #fff;
}
.dark .hero_financial_transaction .hero_contents .buttons .text_button {
    color: #fff;
}
.dark .hero_financial_transaction .hero_contents .buttons .text_button {
    border-bottom: 0;
}
/* .dark .hover_style_btn:before {
    display: none;
} */
.dark .hero_financial_transaction .hero_contents .details .item h3 {
    color: #fff;
}
.dark .hero_financial_transaction .hero_contents .details .item span {
    color: #B8BABE;
}
.dark .section_title.h_4 h2 {
    color: #fff;
}
.dark .section_title.h_4 p {
    color: #B8BABE;
}
.dark .info_box.h_4 .single_info_box .content h5 {
    color: #fff;
}
.dark .info_box.h_4 .single_info_box .content P {
    color: #B8BABE;
}
.dark .integration_two.h_4 .section_img .shape {
    display: none;
}
.dark .integration_two.h_4 .content .data_list li {
    color: #fff;
}
.dark .testimonial .testimonial_items .single_testimonial_item p {
    color: #fff;
}
.dark .testimonial .testimonial_items .single_testimonial_item .autrhor_info .content h5 {
    color: #fff;
}
.dark .testimonial .testimonial_items .single_testimonial_item .autrhor_info .content p {
    color: #B8BABE;
}
.dark .payments_flow .image_box .shape {
    display: none;
}
.dark .testimonial.dark {
    padding-bottom: 315px;
}
.dark .min_faq_area .single_faq_item .content h3 {
    color: #fff;
}
.dark .min_faq_area .single_faq_item .content p {
    color: #B8BABE;
}
.dark .testimonial .testimonial_items i {
    color: #fff;
}
.dark .menu_four .menu > .nav-item > .nav-link {
    color: #fff;
}
.dark .menu_four .menu > .nav-item:hover > .nav-link {
    color: #553bf9;
}
.dark .menu_four .menu > .nav-item.active > .nav-link {
    color: #553bf9;
}
.dark .menu_four .alter_nav li a {
    color: #fff;
}
.dark .navbar_fixed .menu_four .menu > .nav-item > .nav-link {
    color: inherit;
}
.dark .navbar_fixed .menu_four .menu > .nav-item:hover > .nav-link {
    color: #553bf9;
}
.dark .navbar_fixed .menu_four .menu > .nav-item.nav-item.active > .nav-link {
    color: #553bf9;
}
.dark .navbar_fixed .menu_four .alter_nav li a  {
    color: inherit;
}
.dark .navbar_fixed .menu_four .alter_nav li a.nav_btn  {
    color: #fff;
}
.dark .footer.h_4 {
    position: relative;
    z-index: 99;
}
.dark .cta {
    z-index: inherit;
}
.dark .min_cta_area {
    position: relative;
    z-index: 100;
}

.dark .navbar-toggler span {
    background: #fff;
}
.dark .navbar_fixed .navbar-toggler span {
    background: #000;
}
/* Home 4 */

/* Home 5 */
.dark .hosting_hero .hosting_box_area .single_box {
    background: linear-gradient(143.39deg, #171736 4.61%, #161633 4.62%, #171736 106.61%);
}
.dark .hosting_hero .hosting_box_area .single_box h4 {
    color: #fff;
}
.dark .hosting_hero .hosting_box_area .single_box p {
    color: #A6A6BD;
}
.dark .section_title.h_5 h2 {
    color: #fff;
}
.dark .section_title.h_5 p {
    color: #A6A6BD;
}
.dark .integration_two.h_4.h_5.two .content .service_area .item p {
    color: #fff;
}
.dark .hosting_price_area .single_price {
    background: linear-gradient(143.39deg, #12122F 4.61%, #151533 106.61%);
    border: 1px solid rgba(255, 255, 255, 0.06);
}
.dark .hosting_price_area .single_price h5 {
    color: #fff;
}
.dark .hosting_price_area .single_price p {
    color: #A6A6BD;
}
.dark .hosting_price_area .single_price .price_list li {
    color: #fff;
}
.dark .hosting_price_area .single_price .price_list li.dis {
    color: #A1A1AD;
}
.dark .hosting_price_area .single_price .price_list li.dis i {
    color: #2c5585;
}
.dark .min_hosting_testimonial .single_item {
    background: linear-gradient(143.39deg, #171736 4.61%, #161633 4.62%, #171736 106.61%);
}
.dark .min_hosting_testimonial .single_item p {
    color: #A6A6BD;
}
.dark .min_hosting_testimonial .single_item .author .author_info h6 {
    color: #fff;
}
.dark .min_hosting_testimonial .single_item .author .author_info span {
    color: #A6A6BD;
}
/* Home 5 */

/* Home 6 */
.dark .hero_digital_marketing .content .section_title h1 {
    color: #fff;
}
.dark .hero_digital_marketing .content .section_title p {
    color: #B6B5B5;
}
.dark .hero_digital_marketing .content .buttons_area .text_button {
    color: #fff;
}
.dark .dm_counter .single_dm_counter p {
    color: #fff;
}
.dark .section_title.h_6 h2 {
    color: #fff;
}
.dark .section_title.h_6 p {
    color: #B6B5B5;
}
.dark .integration.h_6.two .integration_content .service_items li p {
    color: #B6B5B5;
}
.dark .integration.h_6.two .integration_content .service_items li p b {
    color: #fff;
}
.dark .min_dm_info_box .single-item {
    background: rgba(251, 250, 250, 0.02) !important;
    box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.12) !important;
}
.dark .min_dm_info_box .single-item h5 {
    color: #FBFAFA;
}
.dark .min_dm_info_box .single-item p {
    color: #B6B5B5;
}
.dark .dm_clients_logo .min_area h5 {
    color: #fff;
}
.dark .dm_faq .content .faq_service .accordion .accordion-item .accordion-header button {
    background: #161515;
    color: #FBFAFA;
    border-radius: 0;
}
.dark .dm_faq .content .faq_service .accordion .accordion-item .accordion-body {
    background: #161515;
    color: #B6B5B5;
}
.dark .dm_faq .content .faq_service .accordion .accordion-item {
    border-bottom: 1px solid rgb(15 13 13 / 86%);
}
.dark .dm_faq .content .faq_service .accordion .accordion-item:first-child {
    border-top: 1px solid rgb(15 13 13 / 86%);
}
.dark .dm_blog .min_blog_area .single_blog {
    background: rgba(251, 250, 250, 0.02);
    box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.12);
}
.dark .dm_blog .min_blog_area .single_blog .content_box .date {
    color: #B6B5B5;
}
.dark .dm_blog .min_blog_area .single_blog .content_box h5 a {
    color: #FBFAFA;
}
.dark .dm_blog .min_blog_area .single_blog .blog_top .cetagory a {
    background: #282727;
    color: #FBFAFA;
}
.dark .footer.h_4.h_5.h_6 .main_footer .site_info .content h5 {
    color: #FBFAFA;
}
.dark .footer.h_4.h_5.h_6 .main_footer .site_info .content .info_list li a {
    color: #B6B5B5;
}
.dark .footer.h_4.h_5.h_6 .main_footer .site_info .content .info_list li p {
    color: #B6B5B5;
}
.dark .footer.h_4.h_5.h_6 .main_footer .site_info .content .info_list li a.number {
    color: #fff;
}
.dark .footer.h_4.h_5.h_6 .footer_bottom p {
    color: #B6B5B5;
}
.dark .footer.h_4.h_5.h_6 .footer_bottom .social_icons a {
    background: #1B1A1A;
    box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.12);
    color: #fff;
}
.dark .footer.h_4.h_5.h_6 .footer_bottom .social_icons a:hover {
    background: #FF850A;
}
.dark .footer.h_4.h_5.h_6 .footer_bottom {
    border-color: rgba(251, 250, 250, 0.08);
}
.dark .menu_six .menu > .nav-item > .nav-link {
    color: #fff;
}
.dark .menu_six .menu > .nav-item.active > .nav-link {
    color: #FF850A;
}
.dark .menu_six .menu > .nav-item:hover > .nav-link {
    color: #FF850A;
}
.dark .menu_six .alter_nav li a {
    color: #fff;
}
.dark .navbar_fixed .menu_six .menu > .nav-item > .nav-link {
    color: inherit;
}
.dark .navbar_fixed .menu_six .menu > .nav-item.active > .nav-link {
    color: #FF850A;
}
.dark .navbar_fixed .menu_six .menu > .nav-item:hover > .nav-link {
    color: #FF850A;
}
.dark .navbar_fixed .menu_six .alter_nav li .login {
    color: inherit;
}
.dark .menu_six .alter_nav li a.btn_hover {
    background: linear-gradient(105.21deg, #282727 43.48%, #363535 96.95%);
}
/* Home 6 */

@media(max-width:991px) {
    .dark .menu_four .menu > .nav-item > .nav-link {
        color: inherit;
    }
    .dark .menu_six .menu > .nav-item > .nav-link  {
        color: inherit;
    }
}