/** @format */

.blog_area {
	padding-bottom: 120px;
}
// blog_post_item css
.blog_post_item {
	display: inline-block;
	margin-bottom: 60px;
	.blog_img {
		display: inline-block;
		border-radius: 10px;
		overflow: hidden;
		img {
			transition: all 0.6s;
		}
	}
	&:hover {
		.blog_img {
			img {
				transform: scale(1.06) translateX(20px);
			}
		}
	}
}
.blog_content {
	padding-top: 28px;
	.blog_title {
		transition: all 0.3s;
		&:hover {
			color: $purple;
		}
	}
	.text_button {
		color: $purple;
		margin-top: 10px;
		&::before {
			background: $purple;
			width: 0;
		}
		&:hover {
			&::before {
				width: 100%;
			}
		}
	}
}
.blog_title {
	font-size: 35px;
	font-weight: 800;
	margin-bottom: 15px;
}
.post_meta {
	li {
		font-size: 14px;
		font-weight: 400;
		color: $pcolor;
		font-family: $man;
		display: inline-block;
		position: relative;
		padding-right: 9px;
		margin-right: 5px;
		&::before {
			width: 1px;
			height: 10px;
			background: $pcolor;
			content: '';
			position: absolute;
			right: 0px;
			top: 50%;
			transform: translateY(-50%);
		}
		a {
			color: $pcolor;
			&:hover {
				color: $purple;
			}
		}
		&:last-child {
			margin-left: 0;
			padding-right: 0;
			&::before {
				display: none;
			}
		}
	}
}
// blog_post_item

.widget {
	font-family: $man;
	& + .widget {
		margin-top: 55px;
	}
}
.search_form {
	position: relative;
	input {
		width: 100%;
		height: 60px;
		background: #f4f5f6;
		border: 0px;
		border-radius: 4px;
		padding: 0px 30px;
		font-size: 15px;
		color: $title;
		box-shadow: none;
		@include placeholder {
			color: $pcolor;
		}
		&:focus {
			outline: none;
			box-shadow: none;
			background: #f4f5f6;
		}
	}
	button {
		padding: 0px;
		background: transparent;
		border: 0px;
		position: absolute;
		right: 30px;
		height: 100%;
		top: 0;
	}
}
.widget_title {
	font-size: 20px;
	font-weight: 800;
	color: $title;
	line-height: 1.2;
	margin-bottom: 35px;
}
.widget_recent_entries {
	ul {
		margin-bottom: 0;
		li {
			& + li {
				margin-top: 20px;
			}
		}
	}
	.recent_post_item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		img {
			margin-right: 15px;
			border-radius: 5px;
			width: 90px;
		}
		.recent_post_content {
			h5 {
				font-size: 16px;
				line-height: 1.35;
				font-weight: 700;
				color: $title;
				margin-bottom: 4px;
				transition: color 0.2s linear;
			}
			.post_date {
				color: #929ab2;
				font-size: 14px;
				font-weight: 400;
				&:hover {
					color: $purple;
				}
			}
		}
		&:hover {
			h5 {
				color: $purple;
			}
		}
	}
}
.widget_categories {
	ul {
		padding-left: 0;
		margin: -15px 0 0px;
		li {
			padding: 14px 0;
			&:not(:last-child) {
				border-bottom: 1px solid #dfe2e7;
			}
			a {
				font-size: 14px;
				line-height: 1.4;
				font-weight: 500;
				color: #677789;
				display: flex;
				justify-content: space-between;
				&:hover {
					color: $purple;
				}
			}
		}
	}
}
.tagcloud {
	margin: -5px -4px;
	a {
		font-size: 14px;
		font-weight: 500;
		line-height: 30px;
		color: #677789;
		border-radius: 5px;
		background: transparent;
		text-align: center;
		padding: 0px 20px;
		display: inline-block;
		border: 1px solid #e0e1e3;
		margin: 5px 3px;
		transition: all 0.2s linear;
		&:hover {
			background: $purple;
			border-color: $purple;
			color: #fff;
		}
	}
}

.pagination {
	.nav-links {
		display: flex;
	}
	.page-numbers {
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		font-weight: 500;
		color: #677789;
		border: 1px solid #e7e8ea;
		border-radius: 5px;
		margin-right: 10px;
		transition: all 0.2s;
		&:hover {
			background: $purple;
			border-color: $purple;
			color: #fff;
		}
	}
}

/*========== start blog_single_info css ===========*/
blockquote {
	font-family: 'Roboto', sans-serif;
	border-radius: 6px;
	background-color: white;
	box-shadow: 0px 10px 30px 0px rgba(20, 3, 67, 0.08);
	border-left: 6px solid $purple;
	padding: 36px 70px 60px 30px;
	position: relative;
	margin-bottom: 60px;
	overflow: hidden;
	z-index: 1;
	&::before {
		content: '\f10e';
		font-family: 'Font Awesome 6 Free';
		font-weight: 900;
		position: absolute;
		right: 30px;
		line-height: 0.3;
		bottom: 0;
		color: $purple;
		opacity: 0.1;
		font-size: 140px;
		z-index: -1;
	}
	i {
		font-size: 30px;
		color: $purple;
		margin-bottom: 14px;
	}
	p {
		font-size: 18px;
		line-height: 30px;
		font-style: italic;
		font-weight: 500;
		color: $title;
	}
}
.blog_single_info {
	.blog_content {
		padding: 0px;
		border: 0px;
		p {
			padding-top: 0;
		}
		.blockquote {
			margin-bottom: 45px;
			margin-top: 45px;
		}
	}
	.post_bottom {
		padding-top: 15px;
		margin-bottom: 25px;
		display: flex;
		justify-content: space-between;
	}
	.post_comments {
		color: $pcolor;
		font-weight: 500;
		i {
			color: $purple;
			font-size: 16px;
			vertical-align: middle;
			margin-right: 4px;
		}
		// &:hover {
		// 	color: $purple;
		// }
	}
	.widget_title {
		margin-bottom: 40px;
	}
}
.ddoc_theme_btn {
	border: 0;
	padding: 13px 36px;
	cursor: pointer;
	background: transparent;
	border: 1px solid #2579ff;
	color: $purple;
	font-size: 16px;
	line-height: 28px;
	border-radius: 4px;
	font-weight: 500;
	transition: all 0.2s;
	&:hover {
		background: #2579ff;
		color: #fff;
		box-shadow: 0px 14px 30px 0px rgba(183, 157, 136, 0.3);
	}
}
.social_icon {
	font-size: 16px;
	font-weight: 500;
	color: $pcolor;
	ul {
		display: inline-block;
		margin-bottom: 0px;
		li {
			display: inline-block;
			margin-left: 2px;
			a {
				font-size: 14px;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: all 0.3s;
				&:hover {
					background: #fff;
					box-shadow: 0px 1px 15px 0px rgba(20, 3, 67, 0.08);
					color: #fff;
				}
			}
			&:nth-child(1) {
				a {
					color: #4085cb;
				}
			}
			&:nth-child(2) {
				a {
					color: #26d0fe;
				}
			}
			&:nth-child(3) {
				a {
					color: #ec1313;
				}
			}
			&:nth-child(4) {
				a {
					color: #0077b5;
				}
			}
		}
	}
}
/*========== End blog_single_info css ===========*/

/*========== Start comment_box css ===========*/
.blog_comment_inner {
	margin-top: 74px;
}
.comment_box {
	margin-bottom: 0;
	.comment {
		background: #f9f9f9;
		padding: 30px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	.comments_item {
		display: flex;
		flex-wrap: wrap;
		font-family: $man;
		.comments_author_img {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			margin-right: 30px;
			overflow: hidden;
			img {
				max-width: 100%;
			}
		}
		.content {
			position: relative;
			flex: 1;
			h4 {
				font-size: 18px;
				font-weight: 600;
				color: $title;
				margin-bottom: 5px;
			}
			.comment-date {
				font-size: 14px;
				color: #85859c;
			}
			p {
				font-size: 15px;
				line-height: 26px;
				color: $pcolor;
				padding-top: 10px;
			}
			.comment_reply {
				font-size: 13px;
				text-transform: uppercase;
				color: $pcolor;
				letter-spacing: 1.3px;
				position: absolute;
				right: 0;
				top: 0;
				&:hover {
					color: $purple;
				}
			}
		}
	}
	.reply_comment {
		margin-left: 100px;
		margin-top: 17px;
		.comment {
			padding: 0px;
		}
		.comments_item {
			border-top: 1px solid #ebebeb;
			padding-top: 35px;
		}
	}
}

.comment_form {
	.form-group {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		input {
			border-radius: 3px;
			border: 1px solid #e5e5e5;
			height: 60px;
			line-height: 60px;
			font-size: 15px;
			color: $title;
			padding-left: 30px;
			box-shadow: none;
			transition: all 0.2s linear;
			@include placeholder {
				color: #9ca3b9;
			}
			&:focus {
				border-color: $purple;
				box-shadow: none;
			}
		}
		textarea {
			height: 180px;
			padding-left: 30px;
			padding-top: 12px;
			border: 1px solid #e5e5e5;
			@include placeholder {
				color: #9ca3b9;
			}
			&:focus {
				border-color: $purple;
				box-shadow: none;
			}
		}
		.marketing_btn_solid {
			font-family: $man;
			font-weight: 600;
			border-radius: 0.375rem;
			border: 1px solid $purple;
			background: transparent;
			color: $purple;
			transition: color 0.6s;
			span {
				background: $purple;
			}
			&:hover {
				color: #fff;
				transition: color 0.3s;
			}
		}
	}
}
/*========== End comment_box css ===========*/

// Home Six //
.dm_blog {
	padding-top: 80px;
	padding-bottom: 128px;
	.min_blog_area {
		margin-top: 55px;
		.single_blog {
			background: $white;
			padding-left: 8px;
			padding-right: 8px;
			padding-top: 8px;
			padding-bottom: 32px;
			border-radius: 24px;
			margin: 0 3px;
			transition: transform 0.5s;
			max-width: 370px;
			transition: transform .5s;
			.blog_top {
				position: relative;
				.cetagory {
					a {
						color: #0f0d0d;
						font-family: $Montserrat;
						font-weight: 600;
						font-size: 14px;
						line-height: 28px;
						padding: 3px 15px;
						background: $white;
						border-radius: 17px;
						position: absolute;
						bottom: 25px;
						left: 20px;
						transition: 0.3s;
						&:hover {
							background: #ff850a;
							color: $white;
						}
					}
				}
			}
			.content_box {
				padding-top: 30px;
				padding-left: 25px;
				padding-right: 25px;
				.date {
					color: #565454;
					font-family: $Montserrat;
					font-weight: 400;
					font-size: 16px;
					line-height: 28px;
				}
				h5 {
					a {
						color: #0f0d0d;
						font-family: $Montserrat;
						font-weight: 600;
						font-size: 18px;
						line-height: 28px;
						margin-top: 10px;
					}
				}
				a {
					color: #ff850a;
					font-family: $Montserrat;
					font-weight: 600;
					font-size: 16px;
					line-height: 26px;
					margin-top: 40px;
				}
			}
			&:hover {
				transform: scale(1.02);
			}
		}
	}
}
// Home Six //

// Service Page Blog //
.service_blog_area {
	padding-bottom: 125px;
	padding-top: 125px;
	.min_blog_area {
		.single_blog {
			border: 1px solid #e5e5f1;
			border-radius: 8px;
			padding: 22px 25px;
			span a {
				color: #553bf9;
				font-family: $man;
				font-weight: 600;
				font-size: 14px;
				line-height: 34px;
				display: inline-block;
				margin-top: 30px;
			}
			h3 a {
				color: #2c264a;
				font-family: $man;
				font-weight: 700;
				font-size: 24px;
				line-height: 34px;
				margin-top: 5px;
				&:hover {
					color: #553bf9;
				}
			}
			a {
				display: inline-flex;
				align-items: center;
				color: #4c4c63;
				font-family: $man;
				font-weight: 600;
				font-size: 16px;
				line-height: 30px;
				margin-top: 10px;
				i {
					margin-left: 10px;
				}
			}
			.hover_style_btn {
				&:hover::before {
					background: #553bf9;
				}
			}
		}
	}
}

// Service Page Blog //
