.support {
    padding-bottom: 120px;
}
.min_support_area{
    margin-top: 60px;
    .single_item {
        padding-left: 45px;
        padding-top: 55px;
        padding-right: 30px;
        padding-bottom: 10px;
        h3 {
            font-weight: 600;
            font-size: 25px;
            line-height: 32px;
            font-family: $sora;
        }
        p {
            font-family: $dm;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #5E6282;
            margin-bottom: 20px;
        }
        a {
            display: inline-flex !important;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            font-family: $dm;
            color: #050505;
            display: flex;
            align-items: center;
            transition: .3s;
            i {
                margin-left: 6px;
            }
            &:hover {
                color: #3fa9f5;
            }
        }
        img {
            display: block;
            margin-left: auto;
            margin-top: 15px;
        }
        &.full_width {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 25px;
            padding-bottom: 15px;
            padding-right: 65px;
            margin-bottom: 25px;
            h3 {
                font-size: 40px;
                line-height: 50px;
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 15px;
            }
            a {
                font-size: 18px;
                line-height: 23px
            }
        }
    }
}