/** @format */

// team area
.team_area {
	padding-top: 0;
	padding-bottom: 90px;
}
.team_item {
	margin-bottom: 30px;
	.team_img {
		display: inline-block;
		border-radius: 10px;
		margin-bottom: 20px;
		overflow: hidden;
		img {
			transition: all 0.3s;
			filter: grayscale(1);
		}
	}
	.member_name {
		font-size: 24px;
		font-weight: 600;
		line-height: 1;
		color: $title;
		transition: color 0.3s;
	}
	.position {
		font-size: 14px;
	}
	.social_app {
		display: flex;
		margin-bottom: 0;
		li {
			margin-right: 10px;
			a {
				color: #9f9fa3;
				font-size: 18px;
				&:hover {
					color: $purple;
				}
			}
		}
	}
	&:hover {
		.team_img {
			img {
				transform: scale(1.04);
				filter: none;
			}
		}
		.member_name {
			color: $purple;
		}
	}
}

// .team_area_two css
.team_area_two {
	padding-bottom: 70px;
	.team_item {
		margin-bottom: 55px;
	}
}

// About Us Page
.team_area.about {
	padding-top: 120px;
	padding-bottom: 90px;
}

.team_details_content {
	padding-left: 70px;
	padding-top: 60px;
	.member_name {
		font-size: 35px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	h6 {
		font-size: 20px;
		font-weight: 600;
		color: $pcolor;
		margin-bottom: 25px;
	}
	p {
		line-height: 32px;
		margin-bottom: 25px;
	}
	.team_blockquote {
		font-weight: 600;
		font-size: 20px;
		margin-bottom: 25px;
	}
	.team-social_info {
		align-items: center;
		font-size: 16px;
		font-weight: 600;
		color: $pcolor;
		padding-top: 20px;
		border-top: 1px solid #dfdfdf;
	}
}
.team_social_icon {
	margin-bottom: 0;
	li {
		display: inline-block;
		margin: 0px 4px;
		a {
			width: 44px;
			height: 44px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #9f9fa3;
			background: #ebebeb;
			border-radius: 50%;
			transition: all 0.2s;
			&:hover {
				background: $purple;
				color: #fff;
			}
		}
	}
}
